<h1>Add a new photo</h1>
<form action="/create_photo">
  <div><input type="text" name="source" placeholder="Photo URL"></div>
  <div><input type="text" name="caption" placeholder="Caption"></div>
  <div><button>Add photo</button></div>
</form>
